services:
  ndis-catalogue-ui:
    build: .
    container_name: ndis-catalogue-ui
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      STREAMLIT_SERVER_PORT: 8501
      STREAMLIT_SERVER_ADDRESS: 0.0.0.0

